/* Fuentes letra: 
font-family: 'Orbitron', sans-serif;
font-family: 'Roboto Condensed', sans-serif; 
*/

body{
    font-family: font-family: 'Roboto Condensed', sans-serif; 
}

header{
    display: flex;
}

.holder{
    display: flex;
    gap: 12px;
    margin-top: 15px;
    margin-left: 15px;
}

.holder h2{
    font-family: 'Orbitron', sans-serif;
}

.slogan{
    margin-top: 15px;
    margin-left: 48%;
}

nav{
    margin-top: 15px;
    background-color: black;
    margin-bottom: 20px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

nav ul li a{
    color: white;
    padding: 8px 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}

footer{
    
}
